; ba_jail_casuarina_b5_final2 config by Semicolon Backslash

;V1 Changelog
;Added a spectator camera to prevent a rare crash

;V2 Changelog
;Fixed being able to smack boxes outside of box game
;Improved Shock Drop and Roll
;Made Hide and go boom less favoritism
;Removed the door on musical chairs so people can at least enter the building
;Removed the russian server advertisement

;V3 Changelog
;Unfixed the stupid trivia lights so that it functions like a normal one again
;Made jumprope non-solid so that people don't get stuck when the game is stopped
;Made 9square and Crush Game able to be restarted
;Fixed Russian Roulette's many issues
;Fixed the dodgeball rocks killing the guards through the wall
;Added some spam protection to 4 corners to prevent total breakdown 
;Added a 15 second grief protection to the cell door button
;Reduced Medic health healed per second

;adds a spectator camera to prevent a rare crash

add:
{
	"model"	"*489"
	"classname"	"info_observer_point"
	"defaultwelcome" "1"
	"damagetype"	"1048576"
	"spawnflags"	"1"
	"origin"	"308.067 2624 -124"
    "angles"    "9 170 0"
}

;Removing the ability to hit the boxes out of the game

modify:
{
	match:
	{
		"targetname" "box1"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}
{
	match:
	{
		"targetname" "box2"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}
{
	match:
	{
		"targetname" "box3"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}
{
	match:
	{
		"targetname" "box4"
	}
	replace:
	{
		"nodamageforces" "1"
	}
	
}
{
	match:
	{
		"targetname" "box5"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}
{
	match:
	{
		"targetname" "box6"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}
{
	match:
	{
		"targetname" "box7"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}
{
	match:
	{
		"targetname" "box8"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}
{
	match:
	{
		"targetname" "box9"
	}
	replace:
	{
		"nodamageforces" "1"
	}
}

;Automating hide and go boom so it's no longer favoritism

;first remove all the useless buttons

filter:
{
	"hammerid" "206988"
}
{
	"hammerid" "207004"
}
{
	"hammerid" "207012"
}
{
	"hammerid" "207020"
}

;Implementing needed entities for automation

add:
{
	"id" "387872"
	"classname" "logic_case"
	"targetname" "hideandgoboomcase"
	"OnCase01" "hmc,Add,1,0,-1"
	"OnCase01" "he1,Explode,,0,-1"
	"OnCase01" "hh1,Enable,,0,-1"
	"OnCase02" "hh2,Enable,,0,-1"
	"OnCase02" "he2,Explode,,0,-1"
	"OnCase02" "hmc,Add,1,0,-1"
	"OnCase03" "hmc,Add,1,0,-1"
	"OnCase03" "he3,Explode,,0,-1"
	"OnCase03" "hh3,Enable,,0,-1"
	"OnCase04" "hmc,Add,1,0,-1"
	"OnCase04" "he4,Explode,,0,-1"
	"OnCase04" "hh4,Enable,,0,-1"
}

add:
{
	"id" "387893"
	"classname" "logic_timer"
	"RefireTime" "5"
	"spawnflags" "0"
	"targetname" "hideandgoboomtimer"
	"UseRandomTime" "0"
	"StartDisabled" "1"
	"OnTimer" "hideandgoboomcase,PickRandomShuffle,,0,-1"
	"origin" "2880 3936 -510.995"
}

;Changing a func_wall_toggle into a func_brush

modify:
{
	match:
	{
		"hammerid" "206785"
	}
	replace:
	{
		"classname" "func_brush"
		"StartDisabled" "1"
	}
}

;Deleting old logic and implementing new logic

modify:
{
	match:
	{
		"hammerid" "207377"
	}
	delete:
	{
		"OnPressed" "hcd,Toggle,,0,-1"
		"OnPressed" "hb1,Unlock,,0,-1"
		"OnPressed" "hb2,Unlock,,0,-1"
		"OnPressed" "hb3,Unlock,,0,-1"
		"OnPressed" "hb4,Unlock,,0,-1"
	}
	insert:
	{
		"OnPressed" "hcd,Enable,,0,-1"
		"OnPressed" "!self,Lock,,0,-1"
		"OnPressed" "hideandgoboomtimer,Enable,,0,-1"
		"OnPressed" "MG_three,PlaySound,,0,-1"
		"OnPressed" "MG_two,PlaySound,,1,-1"
		"OnPressed" "MG_zero,PlaySound,,3,-1"
		"OnPressed" "MG_one,PlaySound,,2,-1"
		"OnPressed" "MG_sound_music,PlaySound,,0,-1"
	}
}
{
	match:
	{
	"hammerid" "207046"
	}
	delete:
	{
		"OnHitMax" "hb1,Lock,,0,-1"
		"OnHitMax" "hb2,Lock,,0,-1"
		"OnHitMax" "hb3,Lock,,0,-1"
		"OnHitMax" "hb4,Lock,,0,-1"
		"OnHitMax" "hh1,Disable,,0,-1"
		"OnHitMax" "hh2,Disable,,0,-1"
		"OnHitMax" "hh3,Disable,,0,-1"
		"OnHitMax" "hh4,Disable,,0,-1"
		"OnHitMax" "hcd,Disable,,0,-1"
		"OnHitMax" "hb4,Unlock,,3,-1"
		"OnHitMax" "hb3,Unlock,,3,-1"
		"OnHitMax" "hb2,Unlock,,3,-1"
		"OnHitMax" "hb1,Unlock,,3,-1"
	}
	insert:
	{
		"OnHitMax" "hcd,Disable,,0,-1"
		"OnHitMax" "hh1,Disable,,0,-1"
		"OnHitMax" "hh2,Disable,,0,-1"
		"OnHitMax" "hh3,Disable,,0,-1"
		"OnHitMax" "hh4,Disable,,0,-1"
		"OnHitMax" "!self,SetValue,0,3,-1"
		"OnHitMax" "hb5,Unlock,,3.01,-1"
		"OnHitMax" "hideandgoboomtimer,Disable,,0,-1"
	}
}

;Yeah there's a flaw when repeating this game, too bad I don't care!

;Getting rid of that random russian server advert sign

filter:
{
	"hammerid" "335572"
}

;Removing the door on Musical Chairs so people can hide in there

filter:
{
	"hammerid" "302591"
}

;Making jumprope's beam non-solid so it gets you stuck less
modify:
{
	match:
	{
		"targetname" "jr"
	}
	replace:
	{
		"spawnflags" "72"
	}
}

;Increasing the cooldown on the dodgeball buttons slightly to avoid the hurt triggers messing up
modify:
{
	match:
	{
		"hammerid" "191761"
	}
	replace:
	{
		"wait" "3.1"
	}
}
modify:
{
	match:
	{
		"hammerid" "191765"
	}
	replace:
	{
		"wait" "3.1"
	}
}
modify:
{
	match:
	{
		"hammerid" "191769"
	}
	replace:
	{
		"wait" "3.1"
	}
}
modify:
{
	match:
	{
		"hammerid" "191773"
	}
	replace:
	{
		"wait" "3.1"
	}
}
modify:
{
	match:
	{
		"hammerid" "191757"
	}
	replace:
	{
		"wait" "3.1"
	}
}

;Fixing a small flaw in the 4 corners logic that allows it to be spammed and break the game
modify:
{
	match:
	{
		"hammerid" "196378"
	}
	delete:
	{
		"OnPressed" "4SBSTO,Lock,,5.1,-1"
		"OnPressed" "4SBSTA,Unlock,,0,-1"
	}
	insert:
	{
		"OnPressed" "4SBSTO,Lock,,0,-1"
		"OnPressed" "4SBSTA,Unlock,,5.1,-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "196360"
	}
	delete:
	{
		"OnPressed" "4SBSTA,Lock,,0.1,-1"
	}
	insert:
	{
		"OnPressed" "4SBSTA,Lock,,0,-1"
	}
}

;Adding griefing protection to the cell door button
modify:
{
	match:
	{
		"hammerid" "175007" 
	}
	replace:
	{
		"spawnflags" "175007"
		"rendermode" "1"
		"rendercolor" "0"
	}
	insert:
	{
		"targetname" "cell_button"
	}

}
modify:
{
	match:
	{
		"hammerid" "195828"
	}
	insert:
	{
		"OnArenaRoundStart" "cell_button,Unlock,,15,-1"
		"OnArenaRoundStart" "cell_button,Color,255 255 255,15,-1"
	}
}

;Reduced medic heal rate
modify:
{
	match:
	{
		"hammerid" "92710"
	}
	replace:
	{
		"damage" "-25"
	}
}

;Making Crush Game restartable

modify:
{
	match:
	{
		"targetname" "crushbutton2"
	}
	replace:
	{
		"spawnflags" "3585"
	}
	insert:
	{
		"OnPressed" "crushbutton2,Lock,,0,-1"
		"OnPressed" "MG_timer_0*,Disable,,0,-1"
		"OnPressed" "crushbutton,Unlock,,6.1,-1"
		"OnPressed" "MG_relay_start,CancelPending,,0,-1"
		"OnPressed" "crushwin,PlaySound,,0,-1"
	}
}

modify:
{
	match:
	{
		"hammerid" "33358"
	}
	delete:
	{
		"OnPass" "crushbutton2,Unlock,,30,-1"
	}
	insert:
	{
		"OnPass" "crushbutton2,Unlock,,3,-1"
	}
}

;Making 9square restart properly


modify:
{
	match:
	{
		"targetname" "nsbutton2"
	}
	replace:
	{
		"spawnflags" "3585"
	}
	insert:
	{
		"Onpressed" "Minigame_relay_case*,CancelPending,,0,-1"	
		"Onpressed" "Minigame_counter,SetValue,0,0,-1"
		"Onpressed" "minigame_block_walls,Disable,,0.2,-1"
		"Onpressed" "minigame_hurt_wall,Disable,,0.2,-1"
		"Onpressed" "Minigame_platform*,Close,,0,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "Minigame_counter"
	}
	insert:
	{
		"OnHitMax" "nsbutton2,Lock,,0,-1"	
		"OnHitMax" "Minigame_counter,SetValue,0,0,-1"	
	}
}

;making Russian Roulette properly stop

modify:
{
	match:
	{
		"targetname" "rrb2"
	}
	insert:
	{
		"OnPressed" "rrb2,Lock,,0,-1"
		"OnPressed" "rrb1,Unlock,,3,-1"
		"Onpressed" "rrh*,Disable,,0,-1"
		"OnPressed" "rrs*,CancelPending,,0,-1"
		"Onpressed" "rrgp*,Disable,,0,-1"
		"OnPressed" "rrmc,SetValue,0,0,-1"
		"OnPressed" "rusrul_tele*,Disable,,0,-1"
		"OnPressed" "rrtf,Disable,,1,-1"
	}
}
