; "ba_jailfort_b1" config, made by "Berke" "STEAM_1:0:95142811", Updated by "Semicolon Backslash" version 3.

; Version 3 change log:
; Fixed a plethora of issues with Steady Pace
; Enforced Blue-only filtering on crush game

; Disable bone followers.
modify:
{
	match:
	{
		"classname"	"prop_dynamic"
	}
	replace:
	{
		"DisableBoneFollowers"	"1"
	}
}
; Disabling the armory lock button and blue filtering the medic lock button.
{
	match:
	{
		"hammerid"	"695961"
	}
	delete:
	{
		"OnPressed" "armory_toggle_b,Lock,,0,-1"
		"OnPressed" "hg_armory_door,Toggle,,0,-1"
	}
}
{
	match:
	{
		"hammerid"	"695961"
	}
	insert:
	{
		"damagefilter"	"bf"
	}
}
; Make Red win upon reaching the air boat path.
{
	match:
	{
		"hammerid"	"500721"
	}
	insert:
	{
		"OnPass" "airboat_win_trigger,Enable,,,1"
		"OnPass" "airboat_win_trigger,Disable,,.01,1"
	}
}
; Make air boat escape unlock when gate door button is pressed.
{
	match:
	{
		"hammerid"	"541443"
	}
	insert:
	{
		"OnPressed" "abbutton,Unlock,,,1"
	}
}
{
	match:
	{
		"hammerid"	"541790"
	}
	insert:
	{
		"spawnflags"	"3585"
	}
}
; Lower damage of bumper kart race bridge and also switch their outputs.
{
	match:
	{
		"hammerid"	"970438"
	}
	replace:
	{
		"dmg"	"1"
	}
	insert:
	{
		"OnFullyOpen"	"track_bridge_clip,Disable,,,-1"
		"OnFullyOpen"	"kart_button_on_relay,Trigger,,,-1"
		"OnFullyOpen" 	"kart_start_wall,Enable,,,-1"
		"OnFullyOpen"	"kart_start_line_push,Enable,,,-1"
		"OnFullyOpen"	"kart_trigger,Enable,,,-1"
		"OnFullyClosed"	"kart_stair_wall,Disable,,,-1"
	}
}
{
	match:
	{
		"hammerid"	"976922"
	}
	replace:
	{
		"dmg"	"1"
	}
	delete:
	{
		"OnFullyOpen"	"track_bridge_clip,Disable,,0,-1"
		"OnFullyOpen"	"kart_button_on_relay,Trigger,,0.01,-1"
		"OnFullyOpen" 	"kart_start_wall,Enable,,0,-1"
		"OnFullyOpen"	"kart_start_line_push,Enable,,0,-1"
		"OnFullyOpen"	"kart_trigger,Enable,,0,-1"
		"OnFullyClosed"	"kart_stair_wall,Disable,,0,-1"
	}
}
; Fix nine square walls not getting disabled when game is disabled.
{
	match:
	{
		"hammerid"	"280148"
	}
	insert:
	{
		"OnPressed"	"9_fnc,Kill,,,1"
		"OnPressed"	"9_fnch,Kill,,,1"
	}
}
; Make some of the func_door_rotating's distances longer.
{
	match:
	{
		"hammerid"	"621548"
	}
	replace:
	{
		"distance"	"2000000000"
	}
}
{
	match:
	{
		"hammerid"	"784205"
	}
	replace:
	{
		"distance"	"2000000000"
	}
}
{
	match:
	{
		"hammerid"	"137948"
	}
	replace:
	{
		"distance"	"2000000000"
	}
}
{
	match:
	{
		"hammerid"	"824624"
	}
	replace:
	{
		"distance"	"2000000000"
	}
}
{
	match:
	{
		"hammerid"	"365874"
	}
	replace:
	{
		"distance"	"2000000000"
	}
}
; Fix being able to survive in the water of steady pace by crouching so remove the old trigger.
filter:
{
	"hammerid"	"365688"
}
; Remove blue filter on hunger games rules room.
{
	"hammerid"	"936896"
}
{
	"hammerid"	"947694"
}
; Remove air boat triggers in the water.
{
	"hammerid"	"949061"
}
{
	"hammerid"	"823491"
}
{
	"hammerid"	"499352"
}
; Remove invisible cell door toggler button.
{
	"hammerid"	"27503"
}
; Fix being able to survive in the water of steady pace by crouching so add a new trigger.
add:
{
	"model"	"*489"
	"classname"	"trigger_hurt"
	"parentname" "steadypacewaterhurt"
	"damage"	"15"
	"nodmgforce"	"1"
	"damagetype"	"1048576"
	"spawnflags"	"1"
	"origin"	"-1886 396 -484"
}
; Fix being able to survive in the lava of obstacle course by crouching so add a new trigger.
{
	"model"	"*489"
	"classname"	"trigger_ignite"
	"burn_duration"	"5"
	"damage_percent_per_second"	"25"
	"spawnflags"	"3"
	"origin"	"400 -3424 -432.8"
}
; Add a hurt wall near bumper kart race so nobody can pass it.
{
	"model"	"*313"
	"classname"	"trigger_hurt"
	"spawnflags"	"1"
	"damagetype"	"16"
	"nodmgforce"	"1"
	"damage"	"9999"
	"origin"	"3744 -5648 304"
}
; Add a visible cell door toggler button.
{
	"model"	"*94"
	"spawnflags"	"1537"
	"origin"	"-148 279.5 64"
	"classname"	"func_button"
	"hammerid"	"27503"
	"OnPressed"	"cell_door,Toggle,,,-1"
}
; Make air boat win only when it has Red in it.
{
	"model"	"*323"
	"targetname"	"airboat_win_trigger"
	"StartDisabled"	"1"
	"spawnflags"	"1"
	"parentname"	"airboat"
	"filtername"	"rf"
	"origin"	"-4446 -522 40"
	"classname"	"trigger_once"
	"OnTrigger"	"red_win,RoundWin,,,1"
}

; Adding blocking damage to the studio door to avoid camping

modify:
{
	match:
	{
		"hammerid" "464892"
	}
	replace:
	{
		"dmg" "1"
	}
}
{
	match:
	{
		"hammerid" "464988"
	}
	replace:
	{
		"dmg" "1"
	}
}

; Making the fall game floor appear after 2 seconds so players have ample time to fall and die

modify:
{
	match:
	{
		"hammerid" "308191"
	}
	delete:
	{
		"OnHitMax" "fgfloor,Enable,,0.5,-1"
	}
	insert:
	{
		"OnHitMax" "fgfloor,Enable,,2,-1"
	}
}

; Making it so that the one time use armory secret can't be activated by blues

modify:
{
	match:
	{
		"hammerid" "27673"
	}
	insert:
	{
		"damagefilter" "rf"
	}
}

; Adding a new ammo pack to make rebelling slightly more interesting

add:
{
    "id" "176836800"
	"classname" "item_ammopack_medium"
	"angles" "0 0 0"
	"AutoMaterialize" "0"
	"body" "0"
	"disableshadows" "1"
	"effects" "0"
	"fademaxdist" "0"
	"fademindist" "-1"
	"fadescale" "1.0"
	"modelscale" "1.0"
	"renderamt" "255"
	"rendercolor" "255 255 255"
	"renderfx" "0"
	"rendermode" "0"
	"screenspacefade" "0"
	"shadowcastdist" "0"
	"StartDisabled" "0"
	"targetname" "newammo"
	"TeamNum" "2"
	"texframeindex" "0"
	"origin" "-840 3360 -16.79"
}

//Patching 2 steady pace motivator bypasses
modify:
{
	match:
	{
		"hammerid" "366114"
	}
	insert:
	{
		"blockdamage" "1"
	}
}

add:
{
	"id" "1120425"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "1000000"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-3240 270 276"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "steady_hurt_new_1"
}
{
	"id" "1120429"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "1000000"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-3368 182 276"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "steady_hurt_new_2"
}
modify:
{
	match:
	{
		"hammerid" "1075630"
	}
	insert:
	{
		"OnArenaRoundStart" "steady_hurt_new_*,AddOutput,solid 2,0,-1"
		"OnArenaRoundStart" "steady_hurt_new_*,AddOutput,mins -58 -4 -140"
		"OnArenaRoundStart" "steady_hurt_new_*,AddOutput,mins 58 4 140"
	}
}

//Making the steady pace stop button function
modify:
{
	match:
	{
		"hammerid" "421625"
	}
	delete:
	{
		"OnPressed" "spt,Disable,,0.01,-1"
	}
	insert:
	{
		"OnPressed" "spt,Disable,,1,-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "421710"
	}
	delete:
	{
		"OnPressed" "steadypacestopb,Unlock,,3,-1"
	}
	insert:
	{
		"OnPressed" "steadypacestopb,Unlock,,10,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "spt_respawn"
	}
	replace:
	{
		"spawnflags" "3"
	}
}

;Enforcing blue filtering on crush game
modify:
{
	match:
	{
		"targetname" "Crush_Game_Button_On"
	}
	delete:
	{
		"OnPressed" "Crush_Game_Button_Off,Unlock,,10,-1"
		"OnPressed" "Crush_Game_Button_On,Lock,,0,-1"
		"OnPressed" "MG_relay_start,Trigger,,0,1"
		"OnPressed" "disco_stop,Press,,0.01,-1"
		"OnPressed" "disco_2,Lock,,0,-1"
		"OnPressed" "disco_3,Lock,,0,-1"
		"OnPressed" "disco_4,Lock,,0,-1"
		"OnPressed" "disco_5,Lock,,0,-1"
		"OnPressed" "disco_1,Lock,,0,-1"
		"OnPressed" "minigame_music,PlaySound,,0.25,-1"
		"OnPressed" "minigame_music,Volume,10,0.24,-1"
	}
	insert:
	{
		"OnPressed" "crush_game_filter,TestActivator,,0,-1"
	}
}

add:
{
	"id" "1132558"
	"classname" "filter_activator_tfteam"
	"Negated" "0"
	"targetname" "crush_game_filter"
	"TeamNum" "3"
	"OnPass" "Crush_Game_Button_Off,Unlock,,10,-1"
	"OnPass" "minigame_music,PlaySound,,0.25,-1"
	"OnPass" "minigame_music,Volume,10,0.24,-1"
	"OnPass" "disco_stop,Press,,0.01,-1"
	"OnPass" "disco_1,Lock,,0,-1"
	"OnPass" "disco_5,Lock,,0,-1"
	"OnPass" "disco_4,Lock,,0,-1"
	"OnPass" "disco_3,Lock,,0,-1"
	"OnPass" "disco_2,Lock,,0,-1"
	"OnPass" "MG_relay_start,Trigger,,0,1"
	"OnPass" "Crush_Game_Button_On,Lock,,0,-1"
	"origin" "548 -1111.77 82.0936"
}