;Stripper that gets rid of the fun command access for panda for ba_mayanjungle_r3

modify:
{
    match:
    {
        "hammerid" "4517368"
    }
    replace:
    {
        "vscripts"  "jungle/junglescript.nut jungle/mod_secrets_mj.nut"
    }
}