;Config for jb_alkatraz_rebuilt
;Version 1 changelog

;Fixed an issue with crush game not disabling a hurt trigger properly

modify:
{
    match:
    {
        "hammerid" "5649"
    }
    insert:
    {
        "OnTrigger" "MG_crush_blueDisable5-1"
    }
}
modify:
{
    match:
    {
        "hammerid" "5651"
    }
    insert:
    {
        "OnTrigger" "MG_crush_blueDisable4-1"
    }
}
modify:
{
    match:
    {
        "hammerid" "5653"
    }
    insert:
    {
        "OnTrigger" "MG_crush_blueDisable3-1"
    }
}