;Config for jb_carcerem_v5a
;By Semicolon Backslash
;Version 1

;V1 Changelog
;Fixed a hurt trigger not disabling at a proper time in awp dodge
modify:
{
    match:
    {
        "hammerid" "997380"
    }
    delete:
    {
        "OnFullyClosed" "ad_hurt_9Disable3.5-1"
    }
    insert:
    {
        "OnFullyClosed" "ad_hurt_9Disable2.3-1"
    }
}