;Config for jb_carcerem_v5a
;By Semicolon Backslash
;Version 2

;V1 Changelog
;Fixed a hurt trigger not disabling at a proper time in awp dodge

;V2 Changelog
;Increased the damage cap of the insane scout room


;Fixing slow hurt trigger
modify:
{
    match:
    {
        "hammerid" "997380"
    }
    delete:
    {
        "OnFullyClosed" "ad_hurt_9Disable3.5-1"
    }
    insert:
    {
        "OnFullyClosed" "ad_hurt_9Disable2.3-1"
    }
}


;Increasing Damage Cap
modify:
{
    match:
    {
        "hammerid" "1494868"
    }
    replace:
    {
        "damagecap" "69420"
    }
}