;;Stripper config for jb_carnival_v4a
;By Semicolon Backslash
;Version 1

;Version 1 Changelog
;Fixed broken teleports in Russian Roulette and kart_stair_wall

;Fixing broken teleports
modify:
{
    match:
    {
        "targetname" "roulette_player_tele2_exit"
    }
    replace:
    {
        "spawnflags" "1"
    }
}

add:
{
    "classname" "trigger_teleport"
    "targetname" "race_redtele2"
	"StartDisabled" "1"
	"spawnflags" "1"
	"origin" "-7433 -277 -21"
	"angles" "0 0 0"
    "target" "race_redexit2"
}

modify:
{
    match:
    {
        "targetname" "race_redexit2"
    }
    insert:
    {
        "OnSpawn" "race_redtele2,AddOutput,solid 2,0,-1"
		"OnSpawn" "race_redtele2,AddOutput,mins -100 -48 -123,0,-1"
		"OnSpawn" "race_redtele2,AddOutput,maxs 100 48 123,0,-1"
    }
}