;config that will kill people who abuse the stuck spot in Hexagon Heat

add:
{
    "id" "4230257"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "30"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-1322 -698 216"
	"spawnflags" "1"
	"StartDisabled" "1"
	"targetname" "hh_hurt1"
}

modify:
{
    match:
    {
        "targetname" "c_remove"
    }
    insert:
    {
        "OnSpawn" "hh_hurt1,AddOutput,solid 2,0,0"
        "OnSpawn" "hh_hurt1,AddOutput,mins -42 -42 -408,0,0"
        "OnSpawn" "hh_hurt1,AddOutput,maxs 42 42 408,0,0"
    }
}

modify:
{
    match:
    {
        "hammerid" "65278"
    }
    insert:
    {
        "OnPass" "hh_hurt1Disable0-1"
    }
}
modify:
{
    match:
    {
        "hammerid" "4129869"
    }
    insert:
    {
        "OnPass" "hh_hurt1Enable0-1"
    }
}