;jb_mlcastle_refurbished_v5 config by Semicolon Backslash

;Changelog
;V1 
;Fixed an exploit where you could hug a corner in hexagon heat and float in the air
;V2
;Made the arena roof button pressable by reds without +use
;

add:
{
    "id" "4230257"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "30"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-1322 -698 216"
	"spawnflags" "1"
	"StartDisabled" "1"
	"targetname" "hh_hurt1"
}

modify:
{
    match:
    {
        "targetname" "c_remove"
    }
    insert:
    {
        "OnSpawn" "hh_hurt1,AddOutput,solid 2,0,0"
        "OnSpawn" "hh_hurt1,AddOutput,mins -42 -42 -408,0,0"
        "OnSpawn" "hh_hurt1,AddOutput,maxs 42 42 408,0,0"
    }
}

modify:
{
    match:
    {
        "hammerid" "65278"
    }
    insert:
    {
        "OnPass" "hh_hurt1Disable0-1"
    }
}
modify:
{
    match:
    {
        "hammerid" "4129869"
    }
    insert:
    {
        "OnPass" "hh_hurt1Enable0-1"
    }
}

;Removing blue filtering on the arena roof button

modify:
{
    match:
    {
        "targetname" "arena_doorb"
    }
    delete:
    {
        "damagefilter" "teamfil_blu"
    }
}

;Attempting to fix the karts exploit

add:
{
    {
    "id" "4242364"
	"classname" "logic_relay"
	"angles" "0 0 0"
	"origin" "1680 4568 120"
	"spawnflags" "0"
	"targetname" "kart_tele_restart_dest"
    "OnSpawn" "mk_tele_restart,AddOutput,solid 2,0,0"
    "OnSpawn" "mk_tele_restart,AddOutput,mins -32 -416 -328,0,0"
    "OnSpawn" "mk_tele_restart,AddOutput,maxs 32 416 328,0,0"
    }
}
add:
{
    {
    "id" "4242380"
	"classname" "trigger_teleport"
	"angles" "0 0 0"
	"origin" "1344 4528 440"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "kart_tele_restart_dest"
	"targetname" "mk_tele_restart"
    }
}
modify:
{
    match:
    {
        "hammerid" "1123088"
    }
    insert:
    {
        "OnEndTouchAll" "mk_tele_restartEnable0-1"
    }
}