;Config for jb_oranger_v2bbw
;By Semicolon Backslash

;V1 Changelog

;Fixed an issue with Crush game not resetting properly

modify:
{
    match:
    {
        "hammerid" "320246"
    }
    insert:
    {
        "OnPressed" "cg_indicator_*,Disable,,0,-1"
    }
}