;Config for Quake Redux that removes the turret guards

filter:
{
    "targetname" "sentry9"
}
{
    "targetname" "sentry8"
}
{
    "targetname" "sentry7"
}
{
    "targetname" "sentry6"
}
{
    "targetname" "sentry6_breakable"
}
{
    "targetname" "sentry7_breakable"
}
{
    "targetname" "sentry8_breakable"
}
{
    "targetname" "sentry9_breakable"
}
{
    "targetname" "sentry6_weapon"
}
{
    "targetname" "sentry7_weapon"
}
{
    "targetname" "sentry8_weapon"
}
{
    "targetname" "sentry9_weapon"
}
{
    "targetname" "sentry6_weapon_anchorpoint"
}
{
    "targetname" "sentry7_weapon_anchorpoint"
}
{
    "targetname" "sentry8_weapon_anchorpoint"
}
{
    "targetname" "sentry9_weapon_anchorpoint"
}