;Stripper config for jb_snowday_v9
;By Semicolon Backslash
;Version 3

;Version 1 Changelog
;Fixed Trivia missing game logic

;Version 2 Changelog
;Fixed awp dodge

;Version 3 Changelog
;Fixed a logic error in 4 corners
;Replaced the missing trivia music with a disco song

;Fixing Trivia

modify:
{
    match:
    {
        "hammerid" "509319"
    }
    insert:
    {
        "OnPressed" "gamemusic,Playsound,,0,-1"
        "OnPressed" "podium1button,unlock,,0,-1"
        "OnPressed" "podium2button,unlock,,0,-1"
        "OnPressed" "podium3button,unlock,,0,-1"
        "OnPressed" "podium1,color,255 255 255,0,-1"
        "OnPressed" "podium2,color,255 255 255,0,-1"
        "OnPressed" "podium3,color,255 255 255,0,-1"
        "OnPressed" "podium1warning,color,255 255 255,0,-1"
        "OnPressed" "podium2warning,color,255 255 255,0,-1"
        "OnPressed" "podium3warning,color,255 255 255,0,-1"
    }
}

modify:
{
    match:
    {
        "targetname" "gamemusic"
    }
    replace:
    {
        "message" "ba_snowday/gretina.mp3"
    }
}

;Fixing the awp dodge start button

modify:
{
    match:
    {
        "hammerid" "34430"
    }
    replace:
    {
        "spawnflags" "1537"
    }
}

;Fixing a point_template so that awp dodge doesn't duplicate its logic on the first playthrough

modify:
{
    match:
    {
        "hammerid" "512380"
    }
    replace:
    {
        "spawnflags" "2"
    }
}

;Fixing a logic error in 4 corners that can cause the game to trip up on itself

modify:
{
    match:
    {
        "hammerid" "75696"
    }
    delete:
    {
        "OnPressed" "4SBSTO,Lock,,5.1,-1"
        "OnPressed" "4SBSTA,Unlock,,0,-1"
    }
    insert:
    {
        "OnPressed" "4SBSTO,Lock,,0,-1"
        "OnPressed" "4SBSTA,Unlock,,5.1,-1"
    }
    replace:
    {
        "spawnflags" "3585"
    }
}