;;Stripper config for jb_snowballer_v11
;By Semicolon Backslash
;Version 1

;V1 Changelog
;Disabled the spinning platform in climb due to it being too easily blocked

modify:
{
    match:
    {
        "targetname" "spim"
    }
    replace:
    {
        "spawnflags" "2"
    }
}