;Config for jb_supermario_v16e
;By Semicolon Backslash

;V1 Changelog

;Fixed an issue with Strafe Race trapping reds if stopped prematurely


modify:
{
    match:
    {
        "hammerid" "212034"
    }
    insert:
    {
        		"OnPressed" "srsparebutton,Unlock,,0,-1"
                "OnPressed" "srkillbutton,Unlock,,0,-1"
    }
}