;Config for jb_supermario_v16e
;By Semicolon Backslash

;V1 Changelog

;Fixed an issue with Strafe Race trapping reds if stopped prematurely

;V2 Changelog

;Enforced blue filtering on the danger below start button
;Fixed an area in speedrun you could delay in


;Making the strafe race buttons properly unlock if the game is stopped early

modify:
{
    match:
    {
        "hammerid" "212034"
    }
    insert:
    {
        		"OnPressed" "srsparebutton,Unlock,,0,-1"
                "OnPressed" "srkillbutton,Unlock,,0,-1"
    }
}

;Enforcing blue filtering in danger below

add:
{
	"id" "334047"
	"classname" "filter_activator_tfteam"
	"Negated" "0"
	"targetname" "db_filter"
	"TeamNum" "3"
	"OnPass" "sf_14,Open,,23.5,-1"
	"OnPass" "sf_13,Open,,22,-1"
	"OnPass" "sf_12,Open,,20.5,-1"
	"OnPass" "sf_11,Open,,19,-1"
	"OnPass" "sf_10,Open,,17.5,-1"
	"OnPass" "sf_9,Open,,16,-1"
	"OnPass" "sf_8,Open,,14.5,-1"
	"OnPass" "sf_7,Open,,13,-1"
	"OnPass" "sf_6,Open,,10.5,-1"
	"OnPass" "sf_5,Open,,9,-1"
	"OnPass" "sf_4,Open,,7.5,-1"
	"OnPass" "sf_3,Open,,6,-1"
	"OnPass" "sf_2,Open,,4.5,-1"
	"OnPass" "sf_1,Open,,3,-1"
	"OnPass" "db_start_button,Lock,,0,-1"
	"origin" "192 704 512"
}

modify:
{
    match:
    {
        "hammerid" "16832"
    }
    delete:
    {
        "OnPressed" "db_start_buttonLock0-1"
		"OnPressed" "sf_1Open3-1"
		"OnPressed" "sf_2Open4.5-1"
		"OnPressed" "sf_3Open6-1"
		"OnPressed" "sf_4Open7.5-1"
		"OnPressed" "sf_5Open9-1"
		"OnPressed" "sf_6Open10.5-1"
		"OnPressed" "sf_7Open13-1"
		"OnPressed" "sf_8Open14.5-1"
		"OnPressed" "sf_9Open16-1"
		"OnPressed" "sf_10Open17.5-1"
		"OnPressed" "sf_11Open19-1"
		"OnPressed" "sf_12Open20.5-1"
		"OnPressed" "sf_13Open22-1"
		"OnPressed" "sf_14Open23.5-1"
    }
    insert:
    {
        "OnPressed" "db_filter,TestActivator,,0,-1"
    }
}

;Fixing an area in speedrun you could delay in

add:
{
    "id" "334164"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-76 -11230 388"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "sonicrun_hurt_new_1"
}
{
    "id" "334159"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-212 -11230 388"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "sonicrun_hurt_new_2"
}
{
    "id" "334129"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-73 -11230 458"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "sonicrun_hurt_new_3"
}
{
    "id" "334126"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-83 -11230 458"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "sonicrun_hurt_new_4"
}
{
    "id" "334132"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-144 -11230 475"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "sonicrun_hurt_new_5"
}
{
    "id" "334088"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-215 -11230 458"
	"spawnflags" "1"
	"StartDisabled" "0"
    "targetname" "sonicrun_hurt_new_6"
}
{
    "id" "334096"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-205 -11230 458"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "sonicrun_hurt_new_7"
}
{
    "id" "334092"
	"classname" "trigger_hurt"
	"angles" "0 0 0"
	"damage" "99999"
	"damagecap" "20"
	"damagemodel" "0"
	"damagetype" "0"
	"nodmgforce" "0"
	"origin" "-194 -11230 476"
	"spawnflags" "1"
	"StartDisabled" "0"
	"targetname" "sonicrun_hurt_new_8"
}

modify:
{
    match:
    {
        "hammerid" "324709"
    }
    insert:
    {
        "OnSpawn" "sonicrun_hurt_new*,AddOutput,solid 2,0,0"
        "OnSpawn" "sonicrun_hurt_1,AddOutput,mins -8 -2 -4,0,0"
        "OnSpawn" "sonicrun_hurt_1,AddOutput,maxs 8 2 4,0,0"
        "OnSpawn" "sonicrun_hurt_2,AddOutput,mins -8 -2 -4,0,0"
        "OnSpawn" "sonicrun_hurt_2,AddOutput,maxs 8 2 4,0,0"
        "OnSpawn" "sonicrun_hurt_3,AddOutput,mins -5 -2 -14,0,0"
        "OnSpawn" "sonicrun_hurt_3,AddOutput,maxs 5 2 14,0,0"
        "OnSpawn" "sonicrun_hurt_4,AddOutput,mins -5 -2 -7,0,0"
        "OnSpawn" "sonicrun_hurt_4,AddOutput,maxs 5 2 7,0,0"
        "OnSpawn" "sonicrun_hurt_5,AddOutput,mins -76 -2 -5,0,0"
        "OnSpawn" "sonicrun_hurt_5,AddOutput,maxs 76 2 5,0,0"
        "OnSpawn" "sonicrun_hurt_6,AddOutput,mins -5 -2 -14,0,0"
        "OnSpawn" "sonicrun_hurt_6,AddOutput,maxs 5 2 14,0,0"
        "OnSpawn" "sonicrun_hurt_7,AddOutput,mins -5 -2 -7,0,0"
        "OnSpawn" "sonicrun_hurt_7,AddOutput,maxs 5 2 7,0,0"
        "OnSpawn" "sonicrun_hurt_8,AddOutput,mins -26 -2 -4,0,0"
        "OnSpawn" "sonicrun_hurt_8,AddOutput,maxs 26 2 4,0,0"
    }
}