;Config for jb_stormfront_v6fix2
;By Semicolon Backslash

;V1 Changelog

;Fixed guards accidentally dying to the wipeout balls

modify:
{
    match:
    {
        "targetname" "wipeoutball1"
    }
    replace:
    {
        "dmg" "1"
        "forcedclosed" "1"
    }
}
modify:
{
    match:
    {
        "targetname" "wipeoutball2"
    }
    replace:
    {
        "dmg" "1"
        "forcedclosed" "1"
    }
}