;Stripper config for jb_xmf_v3
;By Semicolon Backslash
;Version 1

;V1 Changelog

;Made the armory vent not as griefable by bad actors

modify:
{
    match:
    {
        "origin" "-800.5 -936 48"
    }
    insert:
    {
        "targetname" "armory_vent"
    }
}

add:
{
    "id" "498086"
    "targetname" "armory_vent_trigger"
	"classname" "trigger_multiple"
	"angles" "0 0 0"
	"origin" "-808 -936 48"
	"spawnflags" "1"
	"StartDisabled" "0"
	"wait" "1"
	"OnStartTouch" "armory_vent,Break,,10,-1"
}

modify:
{
    match:
    {
        "hammerid" "7372"
    }
    insert:
    {
        "OnArenaRoundStart" "armory_vent_trigger,AddOutput,solid 2,0,-1"
        "OnArenaRoundStart" "armory_vent_trigger,AddOutput,mins -8 -32 -32,0,-1"
        "OnArenaRoundStart" "armory_vent_trigger,AddOutput,maxs 8 32 32,0,-1"
    }
}